<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XFaceUpdateTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>


  </appSettings>
  <!--下列是默认值，不要手动更改；实际数据存储于用户appData中-->
  <!--win10示例 C:\Users\galaxy-yi\AppData\Local\具体文件夹会变-->
  <userSettings>
    <XFaceUpdateTool.Properties.Settings>
      <setting name="receiveTimeout" serializeAs="String">
        <value>1800000</value>
      </setting>
      <setting name="sendTimeout" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value>V1.0</value>
      </setting>
      <setting name="path" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="downloadPath" serializeAs="String">
        <value />
      </setting>
    </XFaceUpdateTool.Properties.Settings>
  </userSettings>
</configuration>
